

// Background
$bg: #222;
$bgDefault: tranparent;
$bgAccent: indigo;
$bgError: tomato;
$bgSky: deepskyBlue;


// Colors
$light: #888;
$text: #f1efef;


// Borders
$radiusDefault: 5px;

// Fonts

$mainFont: 400 16px / 1.2 'Arial', sans-serif;


