

h1 {
  font: 24px / 32px 'MontserratSemiBold', 'Arial', sans-serif;
}

.form {
  margin-bottom: 30px;
}

.form-holder {
  max-width: 570px;
  width: 100vw;
  margin: 0 auto 50px;
  background-color: #fff;
  padding: 35px 36px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

label {
  display: block;
  font: 15px / 22px 'GothamLight', 'Arial', sans-serif;
  color: #545454;
  margin-bottom: 3px;
}

.form-group-input input,
.form-group-select select {
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  height: 38px;
  outline: none;
  padding: 0 15px;
  font: 16px / 22px 'MontserratLight', 'Arial', sans-serif;
}

.form-group-input input:focus,
.form-group-select select:focus {
  border-color: #007BFF;
}


.form-group-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-radio-btns {
  display: flex;
}


.form-group-radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.form-group-radio {
  position: relative;
}

.form-group-radio input {
  position: absolute;
  opacity: 0;
}

.form-group-radio label {
  padding-left: 28px;
  box-sizing: border-box;
}

.form-group-radio label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  transition: .2s all;
}

.form-group-radio input:checked + label::before {
  border: 6px solid #007BFF;
}



.form-tooltip {
  display: block;
  font: 14px / 18px 'GothamThin', 'Arial',  sans-serif;
  letter-spacing: -0.1px;
  color: #969696;
  margin-top: 8px;
}

.form-privacy {
  font: 16px / 22px 'MontserratLight', 'Arial', sans-serif;
}


.form-group-checkbox input {
  position: absolute;
  opacity: 0;
}

.form-group-checkbox label  {
  position: relative;
  display: inline-flex;
  padding-right: 28px;
}

.form-group-checkbox label::after {
  position: absolute;
  top: 2px;
  right: 0;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  transition: .2s all;
}

.form-group-checkbox input:checked + label::after {
  width: 13px;
  border-radius: 0;
  top: -4px;
  border-top: none;
  border-left: none;
  border-width: 2px;
  transform: rotate(45deg);
  border-color: green;
}