
* {
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: #F7F7F7;
  padding: 50px 0;
}

h1 {
  font: 500 24px / 32px 'Arial', sans-serif;
  margin-bottom: 20px;
}


main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-holder {
  max-width: 570px;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 35px 36px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

label {
  display: block;
  font: 400 15px / 22px 'Arial', sans-serif;
  color: #545454;
}

.form-group-input input,
.form-group-select select {
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  height: 38px;
  outline: none;
  padding: 0 15px;
}

.form-group-input input:focus,
.form-group-select select:focus {
  border-color: #007BFF;
}


.form-group-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-radio-btns {
  display: flex;
}


.form-group-radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.form-group-radio input {
  margin-right: 8px;
}

.form-tooltip {
  display: block;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
  margin-top: 8px;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon:hover {
  fill: red;
}

.classes-page {
  padding: 100px 0;
}

.list {
  width: 300px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #88839E;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: .5s ease-in;
}

.list li > p {
  position: relative;
  color: #fff;
}

.list input {
  margin-right: 10px;
  z-index: 1;
}

.list-item {
  position: relative;
}

.list-item > p span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: calc(100% + 5px);
  height: 2px;
  background: transparent;
  transition: .4s ease-in-out;
}

.list-item input:checked + p {
  color: #9B96AC;
}

.list-item input:checked ~ p span {
  background: tomato;
}

.custom-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #88839E;
}

.list-item input:checked + .custom-bg {
  background: #7A7593;
}


